/* Homepagina hero sectie met achtergrondafbeelding */

  .hero {
      background-image: url('../images/achtergrond1.jpg');
      background-size: cover;
      background-position: center;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 50px;
  }
    
  .hero .container {
    background-color: white;
    padding: 150px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 100%;
    max-width: 800px;
    margin-bottom: 70px;
  }
  
  .hero h1 {
    font-size: 3em;
    margin-bottom: 30px;
    color: #333;
  }
  
  .hero p {
    font-size: 1.5em;
    color: #555;
    margin-bottom: 30px;
  }

  .scroll-down {
    display: block;
    margin-top: 20px;
    font-size: 4em; 
    color: #5faafa; 
    text-align: center;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .scroll-down:hover {
    color: #4a90d0; 
    cursor: pointer;
  }
  

#motivatie-experience {
  margin-bottom: 70px; 
}

.content-with-image {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.motivatie-img {
  width: 100%;
  max-width: 400px; 
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}
